{{define "font"}}
@font-face{font-family:'bariollight';src:url('https://font.okno.rs/bariol/light.woff2')format('woff2'),url('https://font.okno.rs/bariol/light.woff')format('woff');font-weight: normal;font-style: normal;}
@font-face{font-family:'bariolregular';src:url('https://font.okno.rs/bariol/regular.woff2')format('woff2'),url('https://font.okno.rs/bariol/regular.woff')format('woff');font-weight:normal;font-style: normal;}
@font-face{font-family:'bariolbold';src:url('https://font.okno.rs/bariol/bold.woff2')format('woff2'),url('https://font.okno.rs/bariol/bold.woff')format('woff');font-weight:normal;font-style: normal;}
@font-face{font-family:'plan9regular';font-style:normal;font-display:swap;font-weight:400;src:local('plan9regular'),local('plan9regular'),url('https://font.okno.rs/plan9/regular.woff2') format('woff2'),url('https://font.okno.rs/plan9/regular.woff') format('woff');}
body {font-family:"bariolregular",serif;}h1,h2,h3,h4,h5,h6{font-family:"plan9regular",serif;}{{end}}