{{define "footer"}}<header class="mega-menu full-width">
        <div class="container-fluid">
            <div class="row">
                <div class="header">
                    <div class="container">
                        <nav class="main-menu" id="main-menu">
                            ...
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </header>{{end}}