{{define "base"}}<!doctype html><html ⚡ lang="en"><head><meta charset="utf-8"><title>{{ .Titile }}</title>{{ template "head" .}}</head><body><header>{{ template "header" .}}</header>{{ template "main" .}}<footer>{{ template "footer" .}}</footer></body></html>{{end}}