{{define "head"}}<title>{{ .Title }}</title>
        <script async src="https://cdn.ampproject.org/v0.js"></script>
        <script async custom-element="amp-list" src="https://cdn.ampproject.org/v0/amp-list-0.1.js"></script>
        <script async custom-template="amp-mustache" src="https://cdn.ampproject.org/v0/amp-mustache-0.2.js"></script>
        <script async custom-element="amp-bind" src="https://cdn.ampproject.org/v0/amp-bind-0.1.js"></script>

        <script async custom-element="amp-script" src="https://cdn.ampproject.org/v0/amp-script-0.1.js"></script>

        <link rel="canonical" href="https://amp.dev/documentation/examples/components/amp-list/index.html">
        <meta name="viewport" content="width=device-width">
        {{ template "boilerplate" .}}
        {{ template "style" .}}
{{end}}
