{{define "footer"}}
    <nav class="flex space-x-4 justify-center">
        <a href="http://com-http.us">us</a>
        <a href="http://com-http.trade">trade</a>
        <a href="http://com-http.directory">directory</a>
        <a href="http://com-http.download">download</a>
        <a href="http://com-http.exchange">exchange</a>
        <a href="http://com-http.games">games</a>
        <a href="http://com-http.help">help</a>
        <a href="http://com-http.info">info</a>
        <a href="http://com-http.link">link</a>
        <a href="http://com-http.live">live</a>
        <a href="http://com-http.net">net</a>
        <a href="http://com-http.network">network</a>
        <a href="http://com-http.news">news</a>
        <a href="http://com-http.org">org</a>
        <a href="http://com-http.social">social</a>
        <a href="http://com-http.support">support</a>
        <a href="http://com-http.today">today</a>
        <a href="http://com-http.tools">tools</a>
    </nav>
{{end}}

{{define "domains"}}
    com-http.us,com-http.trade,com-http.directory,com-http.download,com-http.exchange,com-http.games,com-http.help,com-http.info,com-http.link,com-http.live,com-http.net,com-http.network,com-http.news,com-http.org,com-http.social,com-http.support,com-http.today,com-http.tools,*.com-http.us,*.com-http.trade,*.com-http.directory,*.com-http.download,*.com-http.exchange,*.com-http.games,*.com-http.help,*.com-http.info,*.com-http.link,*.com-http.live,*.com-http.net,*.com-http.network,*.com-http.news,*.com-http.org,*.com-http.social,*.com-http.support,*.com-http.today,*.com-http.tools
{{end}}

