{{define "index"}}
<!DOCTYPE html>
<head>
{{ template "head" .}}
<title>{{ .Title }}</title>
</head>
<body>
    <div id="comhttp">
        <index section="{{ .Section }}" slug="{{ .Slug }}" page="{{ .Page }}"></index>
    </div>
    {{ template "footer" .}}
</body>
{{ template "js" .}}
</html>
{{end}}