{{define "js"}}
    <script>
        new Vue({
            el: '#comhttp',
            data() {
                return {
                }
            },
            mounted() {
            },
            components: {
                index: httpVueLoader('https://comhttp.okno.rs/js/vue/{{ .App }}/{{ .TLD }}.vue'),
            },
        });
    </script>
{{end}}